#calculatrice {
	background-color: var(--verger);

	h2 {
		color: var(--villa);
	}
}

#calcul {
	margin-top: 60px;

	>div:first-child {
		display: block;
		width: calc(85% - 10px);
		border: 2px solid var(--villa);
		height: 50px;
		left: 7.5%;
		position: relative;
		background-color: unset;
		cursor: not-allowed;
		align-content: center;
		padding-left: 10px;
		color: var(--villa);
		font-size: 40px;
	}

	>div:last-child {
		display: flex;
		margin-top: 40px;
		padding: 0 7.5%;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 40px;
		column-gap: 40px;

		input {
			width: 100px;
			height: 75px;
			cursor: pointer;
			background-color: var(--villa);
			color: var(--verger);
			font-size: 40px;
			border: none;
			position: relative;
			box-shadow: 0px 4px 6px -3px var(--black-color);
			top: 0;
			transition: all linear .2s;

			&:focus {
				top: 1px;
				box-shadow: unset;
			}
		}

		#equal {
			flex-grow: 2;
		}
	}
}

#zonePrive {
	position: absolute;
	padding: 100px 35px 92px;
	height: calc(100% - 200px);
	width: calc(100% - 70px);
	right: -100%;
	top: 0;
	background-image: url("../img/background/Fond_calculatrice.webp");
	transition: all ease-in-out .5s;

	h2 {
		margin-bottom: 35px;
	}
}

////////////////
//// JOURNAL ///
////////////////

#journal {
	background-color: var(--magenta);
	top: 0;

	h2 {
		background-color: #6D4E61;
		color: var(--white-color);
		margin: 0 30px;
		padding: 15px 0;

		i {
			position: absolute;
			left: 50px;
			font-size: 30px;
			color: var(--white-color);
			cursor: pointer;
			transition: all linear .2s;

			&:hover {
				left: 45px;
			}
		}
	}
}

.pageJournal {
	position: absolute;
	top: 15%;
	right: -100%;
	width: calc(100% - 60px);
	height: fit-content;
	margin: 10px 30px;
	padding: 25px 0px;
	z-index: 2;
	transition: all ease-in-out 0.5s;

	&:first-of-type {
		right: 0;
	}

	h3 {
		text-align: center;
		margin-bottom: 20px;
		font-size: 25px;
	}

	p {
		background-color: var(--white-color);
		padding: 20px 30px;
	}

	p + p {
		padding-bottom: 20px;
		padding-top: 5px;
	}

	span {
		background-color: var(--poussiere);
		display: block;
		padding: 15px 25px;
	}
}

.nextPage, .prevPage {
	border: unset;
	background-color: unset;
	font-size: 30px;
	position: absolute;
	top: 25px;
	cursor: pointer;
	transition: all linear .2s;

	&.nextPage {
		right: 15px;

		&:hover {
			right: 10px;
		}
	}

	&.prevPage {
		left: 15px;

		&:hover {
			left: 10px;
		}
	}
}

////////////////////
//// MESSAGES PV ///
////////////////////

#messagePrive {
	background-color: var(--broadway);
	top: 0;
	padding: 80px 0px;
	width: 100%;

	h2 {
		color: var(--blanc-fume);
		position: relative;
		width: fit-content;
		margin: 0 auto 35px;

		&::after {
			content: "";
			position: absolute;
			right: -30px;
			top: 60%;
			transform: translateY(-50%);
			display: block;
			height: 14px;
			width: 14px;
			border-radius: 100%;
			background-color: var(--verger);
		}

		i {
			position: absolute;
			left: -150px;
			font-size: 30px;
			color: var(--blanc-fume);
			cursor: pointer;
			transition: all linear .2s;

			&:hover {
				left: -155px;
			}
		}
	}

	.discussion {
		background-color: var(--gris);
		height: 75%;

		p {
			background-color: var(--broadway);
			color: var(--blanc-fume);

			span {
				color: var(--moka-moderne);
			}
		}

		.other {
			background-color: #636159;
		}
	
		.date {
			color: var(--broadway);
			background-color: unset;
		}
	
		&::before {
			background: linear-gradient(180deg, var(--broadway) 0%, rgba(133, 132, 127, 0) 100%);
		}
	
		&::after {
			background: linear-gradient(0deg, var(--gris) 0%, rgba(133, 132, 127, 0) 100%);
		}
	}

	&::after {
		content: "";
		display: block;
		position: relative;
		left: 0;
		bottom: 0px;
		height: 28%;
		width: 100%;
		background-color: var(--gris);
	}
}

.newMessage {
	display: none;
}