#linkedin {
	background-color: var(--bleu-nocturne);

	h2 {
		color: var(--white-color);
	}
}

#connexion {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
	margin-top: 100px;

	input {
		padding: 10px 15px;
		border: none;
		background-color: unset;
		border-bottom: 1px solid var(--white-color);
		color: var(--white-color);

		&::placeholder {
			color: rgba(255, 255, 255, 0.7);
		}

		&:focus-visible {
			outline: unset;
		}
	}

	button {
		background-color: unset;
		border: 1px solid var(--white-color);
		padding: 10px 15px;
		cursor: pointer;
		transition: all ease-in-out .2s;
		color: var(--white-color);

		&:hover {
			background-color: var(--white-color);
			color: var(--bleu-nocturne);
		}
	}

	p {
		font-style: italic;
		color: rgb(151, 176, 204);
		font-size: 13px;
		cursor: pointer;
		position: relative;
		left: 0;
		transition: all linear .2s;
	}
}

////////////////
//// MESSAGE ///
////////////////

#messageLinkedin {
	position: absolute;
	top: 55px;
	right: -100%;
	width: calc(100% - 80px);
	height: calc(80% - 80px);
	padding: 20px 40px;
	margin: 80px 0;
	z-index: 2;
	transition: all ease-in-out 0.5s;
	background-color: var(--bleu-nocturne);
	
	h3 {
		color: var(--white-color);
	}
}

.linkedinMessage {
	position: absolute;
	top: -50px;
	right: -100%;
	
	height: calc(92% - 40px);
	
	background-color: var(--bleu-nocturne);
	z-index: 2;
	transition: all ease-in-out 0.5s;
	width: 100%;

	.numeroContact {
		color: var(--white-color);
		text-align: center;
		margin-bottom: 30px;
		font-size: 20px;

		i {
			position: absolute;
			top: -2px;
			font-size: 32px;
			color: var(--white-color);
			cursor: pointer;
			left: 30px;
			transition: all linear .2s;

			&:hover {
				left: 25px;
			}
		}
	}

	&::after {
		content: "";
		display: block;
		position: relative;
		left: 0;
		bottom: 0px;
		height: 28%;
		width: 100%;
		background-color: var(--voyage);
	}
}

#ouvrirLinkedin1 {
	border: var(--coucher-soleil) 3px solid;
}

.apercuLinkedin {
	padding: 15px 20px 18px 20px;
	margin: 20px 0;
	cursor: pointer;
	background-color: var(--voyage);
	border-radius: 10px;
	transition: all linear .15s;

	p:first-child {
		font-weight: 700;
		padding-bottom: 5px;
		color: var(--coucher-soleil);
	}

	p:last-child {
		color: var(--bleu-nocturne);
	}

	&:hover {
		background-color: var(--white-color);
	}
}

///////////////////////////////
//// ANIMATION DE CONNEXION ///
///////////////////////////////

.cant {
	animation: cant 0.5s ease-in-out;
}

@keyframes cant {

	0%,
	100% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-5px);
	}

	50% {
		transform: translateX(10px);
	}

	75% {
		transform: translateX(-5px);
	}
}
