#linkedin {
	background-color: #324C59;

	h2 {
		color: white;
	}
}

#connexion {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
	margin-top: 100px;

	input {
		padding: 10px 15px;
		border: none;
		background-color: unset;
		border-bottom: 1px solid white;
		color: white;

		&::placeholder {
			color: rgba(255, 255, 255, 0.767);
		}

		&:focus-visible {
			outline: unset;
		}
	}

	button {
		background-color: unset;
		border: 1px solid white;
		padding: 10px 15px;
		cursor: pointer;
		transition: all ease-in-out .2s;
		color: white;

		&:hover {
			background-color: white;
			color: #324C59;
		}
	}

	p {
		font-style: italic;
		color: rgb(151, 176, 204);
		font-size: 13px;
		cursor: pointer;
		position: relative;
		left: 0;
		transition: all linear .2s;
	}
}

#messageLinkedin {
	position: absolute;
	top: 55px;
	right: -100%;
	width: calc(100% - 80px);
	height: calc(80% - 80px);
	padding: 20px 40px;
	margin: 80px 0;
	z-index: 2;
	transition: all ease-in-out 0.5s;
	background-color: #324C59;
	
	h3 {
		color: white;
	}
}

.discussion {
	background-color: #73AABA;
	
	height: 100%;
	overflow-x: auto;
	position: relative;

	span {
		display: block;
		color: #A05542;
		margin-bottom: 10px;
	}
	p {
		background-color: #A3C8CF;
		text-align: end;
		padding: 15px 25px;
		margin: 20px 20px;
		margin: 20px 20px;
		border-radius: 7px;
	}

	.other {
		background-color: #CBE2E7;
		text-align: left;
	}

	.date {
		background-color: unset;
		text-align: center;
		color: #324C59;
	}

	&::before {
		content: "";
		display: block;
		position: sticky;
		left: 0;
		top: 0;
		height: 10px;
		width: 100%;
		background: linear-gradient(180deg, rgba(50,76,89,1) 0%, rgba(115,170,186,0) 100%);
	}

	&::after {
		content: "";
		display: block;
		position: sticky;
		left: 0;
		bottom: 0;
		height: 10px;
		width: 100%;
		background: linear-gradient(0deg, rgba(115,170,186,1) 0%, rgba(115,170,186,0) 100%);
	}
}


.linkedinMessage {
	position: absolute;
	top: -50px;
	right: -100%;
	
	height: calc(92% - 40px);
	
	background-color: #324C59;
	z-index: 2;
	transition: all ease-in-out 0.5s;
	width: 100%;

	.numeroContact {
		color: white;
		text-align: center;
		margin-bottom: 30px;
		font-size: 20px;

		i {
			position: absolute;
			top: -2px;
			font-size: 32px;
			color: white;
			cursor: pointer;
			left: 30px;
			transition: all linear .2s;

			&:hover {
				left: 25px;
			}
		}
	}

	&::after {
		content: "";
		display: block;
		position: relative;
		left: 0;
		bottom: 0px;
		height: 28%;
		width: 100%;
		background-color: #73AABA;
	}
}

#ouvrirLinkedin1 {
	border: #A05542 3px solid;
}

.apercuLinkedin {
	padding: 15px 20px 18px 20px;
	margin: 20px 0;
	cursor: pointer;
	background-color: #73AABA;
	border-radius: 10px;
	transition: all linear .15s;

	p:first-child {
		font-weight: 700;
		padding-bottom: 5px;
		color: #A05542;
	}

	p:last-child {
		color: #324C59;
	}

	&:hover {
		background-color: rgb(255, 255, 255);
	}
}

.cant {
	animation: cant 0.5s ease-in-out;
}

@keyframes cant {

	0%,
	100% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-5px);
	}

	50% {
		transform: translateX(10px);
	}

	75% {
		transform: translateX(-5px);
	}
}
