///////////////
//// GLOBAL ///
///////////////

#messages {
	background-color: rgb(248, 225, 221);

	.message{
		position: absolute;
		top: 70px;
		right: -100%;
		
		height: calc(92% - 40px);
		
		background-color: rgb(248, 225, 221);
		z-index: 2;
		transition: all ease-in-out 0.5s;
		width: 100%;

		.numeroContact {
			color: #917f92;
			text-align: center;
			margin-bottom: 30px;
			font-size: 20px;

			i {
				position: absolute;
				left: 50px;
				cursor: pointer;
				transition: all linear .2s;

				&:hover {
					left: 45px;
				}
			}
		}

	}

	.discussion {
		background-color: rgb(248, 225, 221);
		height: 80%;

		.other {
			background-color: white;
		}
	
		.date {
			color: #917f92;
		}
	
		&::before {
			background: linear-gradient(180deg, rgb(248, 225, 221) 0%, rgba(248, 225, 221,0) 100%);
		}
	
		&::after {
			background: linear-gradient(0deg, rgb(248, 225, 221) 0%, rgba(248, 225, 221,0) 100%);
		}
	}
}

.apercuMessage {
	padding: 15px 50px;
	cursor: pointer;	

	p:first-child {
		font-weight: 700;
		padding-bottom: 5px;
	}

	p:last-child {
		font-style: italic;
	}

	&:hover {
		background-color: rgb(193, 178, 192);
	}
}

//////////////
//// MAIL ////
//////////////

#mail {
	background-image: url(../../img/background/Fond_mail.png);
	height: calc(100% - 230px);
    padding: 150px 0;

	.mail {
		position: absolute;
		top: 0;
		right: -100%;
		width: calc(100% - 80px);
		height: calc(100% - 40px);
		padding: 20px 40px;
		z-index: 2;
		transition: all ease-in-out 0.5s;

		i {
			position: absolute;
			top: 75px;
			font-size: 40px;
			color: white;
			cursor: pointer;
		}
	}
}

.apercuMail {
	padding: 15px 50px;
	cursor: pointer;
	background-color: #9D8277;
	margin: 20px 30px;
	border-radius: 10px;

	p:first-child {
		font-weight: 700;
		padding-bottom: 5px;
	}

	p:last-child {
		font-style: italic;
	}

	&:hover {
		background-color: #caab9f;
	}
}

#calendrier {
	padding: 0;
}