//////////////////////////
//// NOTIFICATION JEU ////
//////////////////////////

#evenementJeu {
    position: absolute;
    top: -30%;
    width: 25%;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    z-index: 75;

	div {
		position: absolute;
		top: 0;
		width: 90%;
		border: 3px solid #257581;
		background-color: #759BA6;
		padding: 10px 15px;
		border-radius: 10px;
		transition: all linear .3s;
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h5 {
			font-size: 25px;
			margin-bottom: 5px;
		}

		p {
			font-size: 23px;
			text-align: center;
		}
	}
}

//////////////////////////
//// NOTIFICATION TEL ////
//////////////////////////

#notifications {
	position: absolute;
	top: -140px;
    width: 80%;
    left: 10%;
	height: 109px;

	div {
		position: absolute;
		top: 0;
		width: 90%;
		border: 3px solid #257581;
		background-color: #759BA6;
		padding: 10px 15px;
		border-radius: 7px;
		transition: all linear .3s;
		z-index: 2;
		color: white;
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p:first-child {
			font-size: 20px;
			margin-bottom: 5px;
		}

		p:last-child {
			font-size: 18px;
		}
	}
}

//////////////////////////
////    BACKGROUND    ////
//////////////////////////

#debutJeu {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
	cursor: pointer;
	z-index: 99;
	top: 0;
	transition: all ease-out .7s;

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 20px;

		p:last-child {
			margin-top: 50px;
			font-style: italic;
		}
	}

	>p:last-child {
		font-size: 15px;
		font-style: italic;
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}

	h1 {
		margin: 200px auto;
		text-align: center;
		font-size: 50px;
	}
}

#finJeu {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: black;
	color: white;
	cursor: pointer;
	z-index: 98;
	top: 100%;
	transition: all ease-out .7s;

	button {
		margin: 150px 10px 0;
		padding: 20px 30px;
		background-color: unset;
		border: 1px solid;
		font-size: 15px;
		cursor: pointer;
		transition: all linear .3s;

		&:first-child {
			border-color: rgb(96, 199, 75);
			color: rgb(96, 199, 75);

			&:hover {
				background-color: rgb(96, 199, 75);
				color: black;
				padding: 20px 35px;
			}
		}

		&:last-child {
			border-color: rgb(235, 114, 114);
			color: rgb(235, 114, 114);

			&:hover {
				background-color: rgb(235, 114, 114);
				color: black;
				padding: 20px 35px;
			}
		}
	}

	p {
		margin-bottom: 50px;
		font-size: 18px;
		text-align: center;
	}


	> div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
		top: 85%;
		transition: top linear 10s;
	}
}

#maison {
	background-image: url(../img/background/Fond_maison.png);
	position: absolute;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	right: 0;
	transition: right ease-in-out .5s;
}

//////////////////////////
////    NAVIGATION    ////
//////////////////////////

#barre_navigation {
	position: absolute;
	left: 0;
	bottom: -40px;
	height: 118px;
	background-image: url(../img/icons/Barre_navigation.png);
	width: 100%;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	z-index: 4;

	div:first-of-type {
		position: absolute;
		top: calc(50% - 9px);
		transform: translateY(-50%);
		bottom: 0;
		width: fit-content;
		left: 25%;
	
		p {
			margin-top: 10px;
			color: white;
			position: relative;
			width: fit-content;
			font-size: 20px;
		}
	}
}

#ouvrirTelephone {
	position: absolute;
	top: calc(50% - 9px);
	transform: translateY(-50%);
	bottom: 0;
	width: 250px;
	cursor: pointer;
	right: 30%;

	p {
		margin-top: 10px;
		color: white;
		position: relative;
		width: fit-content;
		font-size: 20px;

		&::after {
			content: "";
			display: block;
			width: 0;
			height: 3px;
			border-radius: 3px;
			position: absolute;
			left: 0;
			bottom: -5px;
			background-color: currentColor;
			transition: all linear .4s;
		}
	
		&:hover::after {
			width: 100%;
		}
	}
}

//////////////////////////
////    CHANGEMENT    ////
//////////////////////////

#goToDesk {
	display: none;
	right: 100px;
}

#goToHome {
	left: 100px;
	display: none;
}

#goToHome, #goToDesk {
	position: absolute;
	top: calc(50% - 20px);
	font-size: 20px;
	transform: translateY(-50%);
	cursor: pointer;
	border: none;
	background: unset;
	color: white;

	&::after {
		content: "";
		display: block;
		width: 0;
		height: 3px;
		border-radius: 3px;
		position: absolute;
		left: 0;
		bottom: -5px;
		background-color: currentColor;
		transition: all linear .4s;
	}

	&:hover::after {
		width: 100%;
	}
}

//////////////////////////
////    BOUTON FIN    ////
//////////////////////////

#endTheGame {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 20%;
	padding: 30px 60px;
	cursor: pointer;
	display: none;
	font-size: 40px;
	border: 5px solid #257581;
	background-color: #759BA6;
	color: white;
	border-radius: 5px;
}

#restart {
	padding: 10px 20px;
	margin: 100px 0 0;
	padding: 20px 30px;
	background-color: unset;
	border: 1px solid;
	font-size: 15px;
	cursor: pointer;
	transition: all linear .3s;
	position: relative;

	border-color: white;
	color: white;

	&:hover {
		padding: 20px 40px;
	}
}