* {
	padding: 0;
	margin: 0;
	font-family: 'Itim', Courier, monospace;
}

html,
body {
	position: relative;
	font-size: 1em;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

main {
	position: relative;
	height: 100%;
	width: 100%;
}