* {
	padding: 0;
	margin: 0;
	font-family: 'Itim', Courier, monospace;
}

html,
body {
	position: relative;
	font-size: 1em;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

main {
	position: relative;
	height: 100%;
	width: 100%;
}

:root {
	--white-color: white;
	--black-color: black;


	// Nom des couleurs
	--blanc-fume: #E8E5DC;
	--moka-moderne: #9D8277;
	--villa: #E9D5CC;
	--poussiere: #C49B85;
	--gris: #85847F;
	--voyage: #759BA6;
	--jean-bleue: #7A90A5;
	--coucher-soleil: #A05542;
	--magenta: #7E566E;
	--bleu-nocturne: #324C59;
	--verger: #5D6C59;
	--broadway: #444442;
}