* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  position: relative;
  font-size: 1em;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#ouvrirTelephone {
  position: absolute;
  right: 10%;
  transform: translateX(-50%);
  bottom: 0;
  height: 60px;
  width: 250px;
  background-color: rgb(219, 198, 198);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px black solid;
  border-bottom: unset;
  border-radius: 9px 9px 0 0;
  cursor: pointer;
  opacity: 0.7;
  transition: all linear 0.2s;
}
#ouvrirTelephone p {
  margin-top: 10px;
}
#ouvrirTelephone:hover {
  opacity: 1;
}

#backgroundTelephone {
  z-index: 29;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: none;
}

#zoneTelephone {
  position: absolute;
  bottom: -99%;
  right: 0;
  height: 1000px;
  width: 827px;
  z-index: 30;
  transition: all linear 0.8s;
  overflow-x: hidden;
}

#telephone {
  top: 49px;
  width: 449px;
  height: 832px;
  position: relative;
  left: 155px;
  border-radius: 29px;
  overflow: hidden;
  z-index: 31;
}
#telephone > div:first-child {
  width: 100%;
  height: 100%;
  background-image: url("../img/background/Fond_verouille.png");
  z-index: 40;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  transition: all linear 0.5s;
}
#telephone > div:last-child {
  width: 100%;
  height: 100%;
  background-image: url("../img/background/Fond_deverouille.png");
  position: relative;
  top: 0;
  left: 0;
  transition: all linear 0.5s;
}
#telephone > div:last-child .bandeau {
  width: calc(100% - 40px);
  padding: 0 20px;
  position: absolute;
  color: white;
  background-image: url("../img/icons/Barre_top.png");
  background-position: center;
  background-repeat: no-repeat;
}
#telephone > div:last-child .bandeau:first-of-type {
  top: -4px;
  height: 62px;
  z-index: 40;
}
#telephone > div:last-child .bandeau:first-of-type img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}
#telephone > div:last-child .bandeau:last-of-type {
  bottom: -10px;
  font-size: 30px;
  background-image: url("../img/icons/Barre_bot.png");
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 39;
}
#telephone > div:last-child .bandeau:last-of-type i:last-child {
  left: 49%;
  position: relative;
  transform: translateX(-50%);
  cursor: pointer;
  top: 32%;
}

#imageTelephone {
  position: absolute;
  right: 0;
  z-index: 30;
  height: 1000px;
  -o-object-fit: contain;
     object-fit: contain;
}

#contenuTelephone {
  position: absolute;
  top: 40px;
  width: calc(100% - 130px);
  height: 630px;
  padding: 65px 65px;
}

#iconsTelephone {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: calc((100% - 270px) / 2);
       column-gap: calc((100% - 270px) / 2);
  row-gap: 40px;
}
#iconsTelephone > div {
  position: relative;
  width: 90px;
  aspect-ratio: 1;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1);
  transition: all linear 0.2s;
}
#iconsTelephone > div span {
  position: absolute;
  right: -14px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #963535;
  border-radius: 100%;
  color: white;
}
#iconsTelephone > div img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#iconsTelephone > div:hover {
  transform: scale(1.05);
}

.application {
  position: absolute;
  top: -40px;
  right: -100%;
  width: 100%;
  height: calc(100% - 80px);
  padding: 80px 0;
  z-index: 2;
  transition: all ease-in-out 0.5s;
}
.application h2 {
  text-align: center;
  margin-bottom: 20px;
}

#messages {
  background-color: rgb(248, 225, 221);
}
#messages #message1,
#messages #message2 {
  position: absolute;
  top: 10px;
  right: -100%;
  width: calc(100% - 80px);
  height: calc(92% - 40px);
  padding: 20px 40px;
  background-color: aliceblue;
  z-index: 2;
  transition: all ease-in-out 0.5s;
}

.apercu {
  padding: 15px 50px;
  cursor: pointer;
}
.apercu p:first-child {
  font-weight: 700;
  padding-bottom: 5px;
}
.apercu p:last-child {
  font-style: italic;
}
.apercu:hover {
  background-color: rgb(203, 209, 214);
}

#linkedin {
  background-color: rgb(255, 255, 255);
}

#connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  margin-top: 100px;
}
#connexion input {
  padding: 10px 15px;
  border: none;
  background-color: unset;
  border-bottom: 1px solid black;
}
#connexion button {
  background-color: unset;
  border: 1px solid black;
  padding: 10px 15px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  color: black;
}
#connexion button:hover {
  background-color: black;
  color: white;
}
#connexion p {
  font-style: italic;
  color: rgb(12, 84, 167);
  font-size: 13px;
  cursor: pointer;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
}

#debutJeu {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  z-index: 99;
  top: 0;
  transition: all ease-out 0.7s;
}
#debutJeu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
#debutJeu div p:last-child {
  margin-top: 50px;
  font-style: italic;
}
#debutJeu > p:last-child {
  font-size: 15px;
  font-style: italic;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#debutJeu h1 {
  margin: 200px auto;
  text-align: center;
  font-size: 50px;
}/*# sourceMappingURL=style.css.map */