* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  position: relative;
  font-size: 1em;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#ouvrirTelephone {
  position: absolute;
  right: 10%;
  transform: translateX(-50%);
  bottom: 0;
  height: 60px;
  width: 250px;
  background-color: rgb(219, 198, 198);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px black solid;
  border-bottom: unset;
  border-radius: 9px 9px 0 0;
  cursor: pointer;
  opacity: 0.7;
  transition: all linear 0.2s;
}
#ouvrirTelephone p {
  margin-top: 10px;
}
#ouvrirTelephone:hover {
  opacity: 1;
}

#backgroundTelephone {
  z-index: 29;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  display: none;
}

#zoneTelephone {
  position: absolute;
  bottom: -99%;
  right: 0;
  height: 1000px;
  width: 827px;
  z-index: 30;
  transition: all linear 0.8s;
  overflow-x: hidden;
}

#telephone {
  top: 49px;
  width: 449px;
  height: 832px;
  position: absolute;
  right: 223px;
  border-radius: 29px;
  overflow: hidden;
  z-index: 31;
}
#telephone > div:first-child {
  width: 100%;
  height: 100%;
  background-color: #963535;
  z-index: 40;
  position: relative;
  cursor: pointer;
  top: 0;
  transition: all linear 0.5s;
}

#imageTelephone {
  position: absolute;
  right: 0;
  z-index: 30;
  height: 1000px;
  -o-object-fit: contain;
     object-fit: contain;
}

#deverouillageTelephone > div:first-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: rgb(207, 158, 158);
  border-radius: 0 0 50% 50%;
  z-index: 30;
}
#deverouillageTelephone > div:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(207, 158, 158);
  border-radius: 50% 50% 0 0;
  z-index: 30;
}

#contenuTelephone {
  position: absolute;
  top: 40px;
  width: calc(100% - 130px);
  height: 630px;
  padding: 65px 65px;
}

#iconsTelephone {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: calc((100% - 270px) / 2);
       column-gap: calc((100% - 270px) / 2);
  row-gap: 40px;
}
#iconsTelephone > div {
  position: relative;
  width: 90px;
  aspect-ratio: 1;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 0 6px -3px black;
  cursor: pointer;
  transform: scale(1);
  transition: all linear 0.2s;
}
#iconsTelephone > div span {
  position: absolute;
  right: -14px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #963535;
  border-radius: 100%;
  color: white;
}
#iconsTelephone > div i {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #963535;
}
#iconsTelephone > div p {
  position: absolute;
  bottom: 5px;
  transform: translateY(0%);
  text-align: center;
  width: 100%;
  font-size: 15px;
  transition: all linear 0.2s;
  z-index: 1;
}
#iconsTelephone > div::before {
  content: "";
  display: block;
  width: 100%;
  height: 27px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 0 0 5px 5px;
  transition: all linear 0.2s;
  z-index: 1;
}
#iconsTelephone > div:hover {
  transform: scale(1.05);
}

#messages {
  position: absolute;
  top: -20px;
  right: -100%;
  width: 100%;
  height: calc(100% - 50px);
  padding: 50px 0;
  background-color: aliceblue;
  z-index: 2;
  transition: all ease-in-out 0.5s;
}
#messages h2 {
  text-align: center;
  margin-bottom: 20px;
}
#messages #message1,
#messages #message2 {
  display: none;
  z-index: 3;
}
#messages .apercu {
  padding: 15px 50px;
  cursor: pointer;
}
#messages .apercu p:first-child {
  font-weight: 700;
  padding-bottom: 5px;
}
#messages .apercu p:last-child {
  font-style: italic;
}
#messages .apercu:hover {
  background-color: rgb(203, 209, 214);
}

main {
  position: relative;
  height: 100%;
  width: 100%;
}

#debutJeu {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  z-index: 99;
  top: 0;
  transition: all ease-out 0.7s;
}
#debutJeu div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
#debutJeu div p:last-child {
  margin-top: 50px;
  font-style: italic;
}
#debutJeu > p:last-child {
  font-size: 15px;
  font-style: italic;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
#debutJeu h1 {
  margin: 200px auto;
  text-align: center;
  font-size: 50px;
}/*# sourceMappingURL=style.css.map */